@model TPLOCAL1.Models.FormulaireModel
@{
    ViewData["Title"] = "Formulaire";
}

<!DOCTYPE html>
<html>
<head>
    <title>Formulaire</title>
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header> 
    <nav> 
        <ul>
            <li><a href="/Home/Index/Index">Acceuil</a></li>
            <li><a href="/Home/Index/ListeAvis">Liste avis</a></li>
        </ul>
    </nav>
    @using (Html.BeginForm("ValidationFormulaire", "Home", FormMethod.Post))
    {
    <table>
        <caption align="top">
            Informations personnelles
        </caption>
            <tr>
                <td>
                    Nom
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Nom)
                </td>
                @Html.ValidationMessageFor(m => m.Nom, "", new { @class = "error" })
            </tr>
            <tr>
                <td>
                    Prénom
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Prenom)
                    @Html.ValidationMessageFor(m => m.Prenom, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    Sexe
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Sexe, new List<SelectListItem>
                    { new SelectListItem{Text="Homme", Value="Homme"},
                      new SelectListItem{Text="Femme", Value="Femme"}, new SelectListItem{Text="Autre", Value="Autre"}}, "Selectionner un sexe")
                </td>
                @Html.ValidationMessageFor(m => m.Sexe, "", new { @class = "error" })
            </tr>
            <tr>
                <td>
                    Adresse
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Adresse)
                </td>
                @Html.ValidationMessageFor(m => m.Adresse, "", new { @class = "error" })
            </tr>
            <tr>
                <td>
                    Code Postal
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CodePostal)
                </td>
                @Html.ValidationMessageFor(m => m.CodePostal, "", new { @class = "error" })
            </tr>
            <tr>
                <td>
                    Ville
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Ville)
                </td>
                @Html.ValidationMessageFor(m => m.Ville, "", new { @class = "error" })
            </tr>
            <tr>
                <td>
                    Adresse mail
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Mail)
                </td>
                @Html.ValidationMessageFor(m => m.Mail, "", new { @class = "error" })
            </tr>
       
    </table>
    <table>
        <caption align="top">
            Informations formation suivie
        </caption>
       
        <tr>
            <td>
                Date de début de formation
            </td>
            <td>
                    @Html.TextBoxFor(m => m.DateDebFormation)
            </td>
                @Html.ValidationMessageFor(m => m.DateDebFormation, "", new { @class = "error" })
        </tr>
        <tr>
            <td>
                Sexe
            </td>
            <td>
                @Html.DropDownListFor(m => m.TypeFormation, new List<SelectListItem>
                { new SelectListItem{Text="Formation Cobol", Value="Formation Cobol"},
                  new SelectListItem{Text="Formation Objet", Value="Formation Objet"},
                  new SelectListItem{Text="Formation double compétence", Value="Formation double compétence"}}, "Selectionner une formation")
            </td>
                @Html.ValidationMessageFor(m => m.TypeFormation, "", new { @class = "error" })
        </tr>
        
    </table>
    <table>
        <caption align="top">
            Avis sur la formation
        </caption>
            <tr>
                <td>
                    Formation Cobol
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Cobol)
                 </td>
                @Html.ValidationMessageFor(m => m.Cobol, "", new { @class = "error" })
            </tr>
            <tr>
                <td>
                    Formation C#
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Csharp)
                 </td>
                @Html.ValidationMessageFor(m => m.Csharp, "", new { @class = "error" })
            </tr>
            
    </table>
        <input type="submit" class="submit_button" name="submit" value="Valider" />
    }
</body>
</html>
@{
    Layout = null;
}